.root {
  background: rgb(128, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(128, 0, 0, 1) 0%,
    rgba(128, 0, 0, 0.34079569327731096) 100%
  );
  color: var(--color);
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 900;
  opacity: 0.8;
  transition: 1s;

  &:hover {
    opacity: 1;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background: var(--background);
  }
}