.root {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    align-items: flex-start;
  }

  &__buttonWrapper {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }

  &__button {
    padding-inline: 0.9rem;
    font-size: 1rem;
  }
}

.cardBody {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-inline: 1rem;
  font-size: 0.9rem;
  padding-bottom: 1rem;

  &__address {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-style: italic;
    font-size: 0.8rem;
    color: var(--gray);

    &_iconButton {
      display: flex;
      align-items: center;
      padding: 0.4rem;
      background: var(--primary-dark);
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        background: var(--primary);
      }
    }
  }

  &__show {
    display: inline-flex;
    align-self: flex-start;
    font-size: 0.8rem;
    color: var(--primary);
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__detail {
    flex-direction: column;
    gap: 0.5rem;

    &_inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
    }
  }
}

.underline {
  width: 100%;
  height: 1px;
  background: var(--border);
}
