.root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    &_loading {
      width: 16rem;
    }

    &_text {
      font-size: 1.6rem;
      font-family: "Young Serif", serif;
    }
  }
}
