.root {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  &__body {
    display: flex;
    gap: 1.2rem;

    &_left {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 1.2rem;

      &_header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.2rem;
        background: var(--primary-dark);
        border-radius: 0.5rem;
        padding: 1.2rem;

        &_image {
          width: 10rem;
          height: 10rem;
          border-radius: 50%;
          background: var(--primary);
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &_status {
          background: #ffffff10;
          border-radius: 0.4rem;
          padding: 0.8rem;
          font-size: 1.4rem;

          &_green {
            color: green;
          }

          &_red {
            color: red;
          }

          &_orange {
            color: orange;
          }
        }
      }

      &_info {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
      }
    }

    &_right {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 1.2rem;

      &_status {
        padding: 1.2rem;
        font-size: 1.2rem;
        border-radius: 0.5rem;
        text-align: center;
        color: var(--border);
        border: 1px solid var(--border);

        &_red {
          color: #800000;
          background: #80000040;
          border: 1px solid #800000;
        }

        &_orange {
          color: #805c00;
          background: #805c0040;
          border: 1px solid #805c00;
        }

        &_green {
          color: #068000;
          background: #06800040;
          border: 1px solid #068000;
        }
      }

      &_btn {
        padding-block: 1.2rem !important;
        font-size: 1rem;
        letter-spacing: 1px;
      }

      &_liveinfo {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        background: var(--primary-dark);
        padding: 1.2rem;
        border-radius: 0.5rem;

        &_progressLine {
          background: var(--border);
          width: 100%;
          height: 0.2rem;
          border-radius: 0.4rem;
          position: relative;

          &_before {
            background: rgb(128, 0, 0);
            background: linear-gradient(
              90deg,
              rgba(128, 0, 0, 1) 0%,
              rgba(128, 0, 0, 0.34079569327731096) 100%
            );
            height: 100%;
            border-radius: inherit;
            position: absolute;
            z-index: 1;
          }
        }

        &_wrap {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 0.2rem;
          font-size: 0.8rem;
        }

        &_timer {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 0.9rem;
        }
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;

    &_label {
      font-size: 0.9rem;
      color: var(--gray);
    }

    &_inputWrapper {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
    }

    &_input {
      background: none;
      outline: none;
      border: 1px solid var(--border);
      padding: 0.4rem 0.4rem;
      color: var(--color);
      border-radius: 0.4rem;
      font-size: 1rem;
      min-width: 20rem;
    }

    &_error {
      color: #ff0000;
      font-size: 0.7rem;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.2rem;

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.2rem;
    color: var(--gray);
    border-bottom: 1px solid #ffffff10;

    &_address {
      display: flex;
      align-items: center;
      gap: 0.4rem;
      font-style: italic;
    }

    &_iconButton {
      display: flex;
      align-items: center;
      padding: 0.4rem;
      background: var(--primary-dark);
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        background: var(--primary);
      }
    }
  }
}
